@import url('https://fonts.googleapis.com/css2?family=Madimi+One&family=RocknRoll+One&family=Short+Stack&family=Unna:ital,wght@0,400;0,700;1,400;1,700&display=swap');
*{
  margin:0;
  padding: 0;
}
.main-container{
  /* padding-top: 90px; */
  /* padding-left: 85px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(/public/assets/hello.avif);
  /* background-repeat: no-repeat; */
  background-size: cover;
}
.directory{
  background-color: #fff;
  position: fixed;
  top:0;
  /* left:85px;
  height: 74px; */
  left: 0; /* 85px / 16px = 5.313rem */
  height: 4.625rem; 
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right:3rem;
  padding-left: 0;
  align-items: baseline;
  z-index: 100;
  /* z-index:100; */
}
.directory a{
  text-decoration: none;
  color: #0275B1;
  align-self: center;
}
.directory a i{
  align-self: center;
  font-size: 1.5rem;
  align-self: center;
}
.settings span{
  transition: transform .2s;
}
.settings span:hover{
  transform: scale(1.3);
}
.logo-directory{
  display: flex;
  flex-direction: row;
}
.logo-directory p{
  margin-bottom: 0;
  margin-left: 0.5rem;
  align-self: center;
}
.logo-top{
  /* height: 100px;
  width: 88px; */
  height: 5rem; /* 88px / 16px = 5.5rem */
  width: 5rem;
}
.sidebar{
  background-color: #fff;
  position: fixed;
  top: 1.875rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* width: 85px;
  padding-bottom: 30px; */
  width: 5.313rem; /* 85px / 16px = 5.313rem */
  /* padding-bottom: 1.875rem; */
  height: 100%;
}
.sidebar-no-settings {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.sidebar-no-settings a{
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon{
  /* height: 25px;
  width: 25px;
  margin-top: 25px;
  margin-bottom: 25px; */
  height: 1.5625rem; /* 25px / 16px = 1.5625rem */
  width: 1.5625rem; /* 25px / 16px = 1.5625rem */
  margin-top: 1.5625rem; /* 25px / 16px = 1.5625rem */
  margin-bottom: 1.5625rem;
}
.settings{
  /* height: 25px;
  width: 25px; */
  height: 1.5625rem; /* 25px / 16px = 1.5625rem */
  width: 1.5625rem;
}

.sidebar a,
.sidebar .sidebar-no-settings a :hover{
  cursor: pointer;
}

.sidebar .sidebar-no-settings a{
  width: 100%;
}
.sidebar .sidebar-no-settings .open{
  border-right: 2px solid black;
}

/* settings popup */
.popup-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  backdrop-filter: blur(5px); /* Apply blur effect to background */
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 99999; /* Ensure the popup appears above other elements */
}

.popup {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index:10000;  /* Ensure the popup appears above other elements */
  transform: scale(0.5);
  opacity: 0;
  transition: transform 0.3s ease, opacity 0.3s ease;
}
.sidebar-no-settings a img{
  transition: transform .2s;
}
.sidebar-no-settings a img:hover{
  transform: scale(1.3);
}

#close-popup, #logout {
  margin-top: 10px;
  padding: 5px 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#close-popup:hover,#logout:hover {
  background-color: #0056b3;
}
@media (max-width:320px) {
  .sidebar{
    width: 4rem;
  }
}
@media (max-width:376px) {
  .sidebar{
    width: 4.25rem;
  }
}
/* Add blur effect to body when popup is open */




  .main-container{
    background-color: #D4EBFB;
    height: 100%;
    margin-top: 4.625rem;
    margin-left: 5.313rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: auto;
    /* align-items: center; */
  }

  .collab-header{
    height:100px;
    width:80%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* background-color: aqua; */
  }
  .collab-header-buttons{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center
  }

.collab-header-buttons {
  position: relative;
}

  .collab-container {
    
    display: flex;
    flex-direction: column;
    width: 100%;
    /* background-color: #2d6f9e; */
    justify-content: center;
    align-items: center;
    /* margin-left: 85px; */
    margin-top: 20px;
    border-radius: 6px;
    gap: 2rem;
  }
  
 
.collab {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  max-width: 100%;
  margin: 20px;
  overflow: hidden;
  width: 80%;
}

.collab h2 {
  letter-spacing: 1px;
  margin: 0px;
  font-family: "Unna", serif;
  font-weight: 400;
  font-style: normal;
}

.collab h6 {
  margin-top: 10px;
  letter-spacing: 1px;
  opacity: 0.6;
  /* text-transform: uppercase; */
}

.collab img {
  width: 60%;
  border-radius: 50%;
}

.collab-preview {
  /* background-color: #2A265F; */
  color: #fff;
  padding: 10px;
  max-width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
}

.collab-info {
  padding: 20px;
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.btn-container {
  display: flex;
  /* justify-content: space-between; */
  justify-content: flex-start;
  gap: 20px;
}

.btn {
  background-color: #2A265F;
  border: 0;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  padding: 7px 20px;
  bottom: 30px;
  right: 30px;
  letter-spacing: 1px;
  margin-top:5px;
}

.btn:hover{
  color: darkblue;
  background-color: lightblue;
  font-style: normal;
  
}

.collab-btn{
  background: none !important;
  border: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 10px;
}
.collab-btn i{
  font-size: 33px;
  color: #0056b3;
}
.collab-active{
  border-bottom: 2px solid black ;
}

.status{
  
  font-weight: bolder;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}