*{
  margin:0;
  padding: 0;
}
.directory{
  background-color: #fff;
  position: fixed;
  top:0;
  /* left:85px;
  height: 74px; */
  left: 0; /* 85px / 16px = 5.313rem */
  height: 4.625rem; 
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right:3rem;
  padding-left: 0;
  align-items: baseline;
  z-index: 100;
  /* z-index:100; */
}
.directory a{
  text-decoration: none;
  color: #0275B1;
  align-self: center;
}
.directory a i{
  align-self: center;
  font-size: 1.5rem;
  align-self: center;
}
.settings span{
  transition: transform .2s;
}
.settings span:hover{
  transform: scale(1.3);
}
.logo-directory{
  display: flex;
  flex-direction: row;
}
.logo-directory p{
  margin-bottom: 0;
  margin-left: 0.5rem;
  align-self: center;
}
.logo-top{
  /* height: 100px;
  width: 88px; */
  height: 5rem; /* 88px / 16px = 5.5rem */
  width: 5rem;
}
.sidebar{
  background-color: #fff;
  position: fixed;
  top: 1.875rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* width: 85px;
  padding-bottom: 30px; */
  width: 5.313rem; /* 85px / 16px = 5.313rem */
  /* padding-bottom: 1.875rem; */
  height: 100%;
}
.sidebar-no-settings {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.sidebar-no-settings a{
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon{
  /* height: 25px;
  width: 25px;
  margin-top: 25px;
  margin-bottom: 25px; */
  height: 1.5625rem; /* 25px / 16px = 1.5625rem */
  width: 1.5625rem; /* 25px / 16px = 1.5625rem */
  margin-top: 1.5625rem; /* 25px / 16px = 1.5625rem */
  margin-bottom: 1.5625rem;
}
.settings{
  /* height: 25px;
  width: 25px; */
  height: 1.5625rem; /* 25px / 16px = 1.5625rem */
  width: 1.5625rem;
}

.sidebar a,
.sidebar .sidebar-no-settings a :hover{
  cursor: pointer;
}

.sidebar .sidebar-no-settings a{
  width: 100%;
}
.sidebar .sidebar-no-settings .open{
  border-right: 2px solid black;
}
.sidebar-no-settings a img{
  transition: transform .2s;
}
.sidebar-no-settings a img:hover{
  transform: scale(1.3);
}
/* settings popup */
.popup-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  backdrop-filter: blur(5px); /* Apply blur effect to background */
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 99999; /* Ensure the popup appears above other elements */
}

.popup {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index:10000;  /* Ensure the popup appears above other elements */
  transform: scale(0.5);
  opacity: 0;
  transition: transform 0.3s ease, opacity 0.3s ease;
}


#close-popup, #logout {
  margin-top: 10px;
  padding: 5px 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#close-popup:hover,#logout:hover {
  background-color: #0056b3;
}
@media (max-width:320px) {
  .sidebar{
    width: 4rem;
  }
}
@media (max-width:376px) {
  .sidebar{
    width: 4.25rem;
  }
}
/* profile page css */
main{
  padding-top: 90px;
  padding-left: 85px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(/public/assets/hello.avif);
  /* background-repeat: no-repeat; */
  background-size: cover;
}
/* top section css */
.top-section{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 95%;
  border-bottom: 2px solid black;
  padding-bottom: 1.25rem;
  padding-top: 1.25rem;
}
.profile-section{
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.profile-picture{
  width: 180px;
  height: 200px; 
  border-radius: 70%;
}
.circular-image {
  width: 100%; /* Ensure the image takes up the full container */
  height: auto; /* Maintain aspect ratio */
  border-radius: 50%;
}
.toggle-and-text{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:center;
  width: 100%;
}
.work{
  margin-right: 15px;
}
.toggle-switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
  cursor: pointer;
}

.toggle-switch input[type="checkbox"] {
  display: none;
}

.toggle-switch-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ddd;
  border-radius: 20px;
  box-shadow: inset 0 0 0 2px #ccc;
  transition: background-color 0.3s ease-in-out;
}

.toggle-switch-handle {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out;
}

.toggle-switch::before {
  content: "";
  position: absolute;
  top: -25px;
  right: -35px;
  font-size: 12px;
  font-weight: bold;
  color: #aaa;
  text-shadow: 1px 1px #fff;
  transition: color 0.3s ease-in-out;
}

.toggle-switch input[type="checkbox"]:checked + .toggle-switch-handle {
  transform: translateX(45px);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2), 0 0 0 3px #05c46b;
}

.toggle-switch input[type="checkbox"]:checked + .toggle-switch-background {
  background-color: #0542c4;
  box-shadow: inset 0 0 0 2px #00539b;
}

.toggle-switch input[type="checkbox"]:checked + .toggle-switch:before {
  content: "On";
  color: #0568c4;
  right: -15px;
}

.toggle-switch input[type="checkbox"]:checked + .toggle-switch-background .toggle-switch-handle {
  transform: translateX(20px);
}

/* text section css */
.text-section{
  width: 60%;
  display: flex;
  flex-direction: column;
}
.name-edit{
  width: 60%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.bio{
  padding-top: 10px;
}
.project-collab{
  display: flex;
  width: 60%;
  padding-top: 20px;
  align-items: center;
  justify-content: space-evenly;
}
.projects,.collaborations{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}
@media (max-width:767px) {
  .top-section{
    flex-direction: column;
  }
  .profile-section{
    margin-bottom: 20px;
  }
}
.icons{
  margin-top: 20px;
  width: 60%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
._icon{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 10px;
}
._icon img{
  height: 25px;
  width: 25px;
  transition: transform .2s;
}
._icon img:hover{
  transform: scale(1.3);
}
.create img{
  height: 30px;
  width: 25px;
}
.icons button{
  background-color: transparent;
  border:0px;
  border-style: solid;
  border-color: black;
}


/* bottom of css file */
.openIcon{
  border-bottom: 2px solid black !important;
}
.hide{
  display: none;
}

.grid-item img{
  width: 50%;
  flex: 0 0 auto;
  object-fit: contain;
}
.post-text{
  flex: 1;
  overflow: scroll;
  padding-left: 3%;
  font-family: Google-sans, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
h4{
  font-family: "Unna", serif;
  font-weight: 700;
  font-style: normal;
}
h5{
  font-family: "Unna", serif;
  font-weight: 300;
  font-style: normal;
}
.icon-content{
  width: 80%;
  
}

.grid-container {
  display: grid;
  /* width: 73.625rem; */
  grid-template-rows: repeat(4, 0.5fr); /* 3 rows with equal height */
  grid-template-columns: repeat(2, 1fr); /* 3 columns with equal width */
  gap: 2.25rem; /* Gap between grid items */
  padding-top: 2.45rem;
  padding-bottom: 2.45rem;
  
}

.grid-item {
  /* background-color: white; */
  background-image: url(/public/assets/save-post-bg.jpeg);
  border-radius: 0.6rem;
  padding: 20px; /* Padding around grid items */
  text-align: center; /* Center text */
  display: flex;
  height: 100%;
}

/* create post */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.container {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.create-post-header{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  font-family: "Unna", serif;
  font-weight: 400;
  font-style: normal;
}

form {
  margin-top: 1.25rem;
  margin-bottom: 1rem;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="url"],
select,
textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.create-button {
  padding: 10px 20px;
  background-color: #000641;
  color:rgb(255,255,242);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.create-button:hover {
  /* background-color: #72b0f2; */
  transform: translateY(-3px);
  box-shadow: 5px 4px 8px rgba(255, 255, 255, 1);
}
.input-container {
  position: relative;
}

#wordCount-projectName {
  position: absolute;
  bottom: 8px;
  right: 5px;
  font-size: 0.8em;
  color: #888;
}
.description-container {
  position: relative;
  width: 100%;
}

#wordCount-description {
  position: absolute;
  bottom: 15px; /* Adjust as needed */
  right: 8px; /* Adjust as needed */
  font-size: 0.8em;
  color: #888;
}

textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}

.upload-btn {
  padding: 10px 20px;
  background-color: #000641;
  color: rgb(255,255,242);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 35%;
}
#category{
  margin-bottom: 30px;
}
.upload-btn:hover {
  transform: translateY(-3px);
  box-shadow: 5px 4px 8px rgba(255, 255, 255, 1);
}

/* .upload-btn input[type="file"] {
  display: none; 
} 
*/

.upload-btn label {
  display: flex;
  background-color: #000641;
  align-items: center;
  justify-content: center;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 0;
}
.form-for-post{
  /* background-image: url(/assets/upload-form-bg.jpg); */
  background-image: url(/public/assets/save-post-bg.jpeg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 48px;
  border-radius: 13px;
  margin-bottom: 30px;
  color: rgb(12, 12, 12);
}

/* posts slider */

.post-cont{
  /* background-color: #888; */

  height: 65vh;
  
  width: 100%;
  position: relative;
  padding: 0 10% 10% 10%;
}
.post-cont h4{
  text-align: center;
  color: #000641;
  padding-top: 2.125rem;

}
.slide-row{
  display: flex;
  width: 400%;
  transition: 0.5s;
}

.slide-col{
  /* width: 800px; */
  width: 100%;
  /* Change width to 100% for responsiveness */
  height: 25rem;
  position: relative;
  /* margin: 2%; */
}
.user-text{
  /* background:#def1f9 ; */
  background-image: url(/public/assets/save-post-bg.jpeg);
  overflow: scroll;
  /* width: 445px; */
  width: 55%; /* Change width to 100% for responsiveness */
  /* height: 270px; */
  height: 60%; /* Change height to auto for responsiveness */
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 0.625rem;
  color: #071e69;
  /* padding: 45px; */
  padding: 1.25rem; /* Reduce padding for responsiveness */
  box-sizing: border-box;
  z-index: 2;
}
.user-img {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 48%;
  
}
.user-img img{
  height: 100%;
  object-fit: contain;
  /* position: relative; */
  border-radius: 0.625rem;
  width: 100%;
}

.user-text p{
  color: #000641;
}

.user-text h3{
  /* margin: 35px 0 5px; */
  margin: 0.9375rem 0 0.3125rem; /* Reduce margin for responsiveness */
  color: #fff;
}
::-webkit-scrollbar {
  width: 0.3rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #ace2ff; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #d0e9f7; 
}
.slider{
  /* width: 800px; */
  /* gpt */
  width: 100%;
  height: 25rem;
  /* position: absolute; */
  position: relative; /* Change position to relative for responsiveness */
  top: 53%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.indicator{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  /* bottom: -50px; */ 
  /* gpt */
  bottom: -1.875rem;
}

.next-btn{
  display: inline-block;
  height: 0.625rem;
  width: 0.625rem;
  margin: 0.25rem;
  border-radius: 0.9375rem;
  background: #090f79;
  cursor: pointer;
  transition: 0.5s;
}

.active{
  width: 2.5rem;
}

.posts{
  width: 100%;
  height: 100%;
  overflow: hidden;
}
/* work popup */
#popup-form{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  backdrop-filter: blur(5px); 
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 99999; /* Ensure the popup appears above other elements */
  /* font-size: 20px;
  color: red; */
}

.workup {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index:100;  /* Ensure the popup appears above other elements */
  transform: scale(0.5);
  opacity: 0;
  transition: transform 0.3s ease, opacity 0.3s ease;
  background-image: url('/public/assets/save-post-bg.jpeg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 55%;
  height: 70%;
  font-family: "Unna", serif;
  display: flex;
  align-items: center;
  justify-content: center;
}
#role, #description {
  width: 100%;
}

#close-workup {
  margin-top: 10px;
  padding: 5px 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#close-workup:hover {
  background-color: #0056b3;
}
.interested-form{
  width: 78%;
}
#interested-form{
  display: flex;
  flex-direction: column;
}
#close-icon{
  border: none;
  float: right;
}
.interested-label{
  padding: 3%;
}

/* edit popup */
#edit-container{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  backdrop-filter: blur(5px); 
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Ensure the popup appears above other elements */
  /* font-size: 20px;
  color: red; */
}
.edit-buttons{
  display: flex;
  flex-direction: row;
  gap: 0.625rem ;
  margin-top: 2rem;
}
.editit {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index:1000;  /* Ensure the popup appears above other elements */
  transform: scale(0.5);
  opacity: 0;
  transition: transform 0.3s ease, opacity 0.3s ease;
  background-image: url('/public/assets/save-post-bg.jpeg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 55%;
  height: 70%;
  font-family: "Unna", serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}


#Save-edits,#Cancel-edits {
  margin-top: 10px;
  padding: 5px 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#Save-edits:hover,#Cancel-edits:hover {
  background-color: #0056b3;
}
.edit{
  border: none;
  background-color: inherit;
}
.edit-form{
  width: 90%;
  height: 70%;
}
#category-msg{
  display: none;
}